[Unit]
Description=${rpm.description}
After=network.target

[Service]
Type=forking
User=${user.root}
Group=${group.root}
SyslogIdentifier=${name.zookeeper}
PIDFile=MFDD_dataDir/zookeeper_server.pid
Restart=on-abort
ExecStart=${cmd.zk._start.sysvinit}
ExecStop=${cmd.zk._stop.sysvinit}
ExecReload=${cmd.zk._restart.sysvinit}

# https://stegard.net/2016/08/gracefully-killing-a-java-process-managed-by-systemd/
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
